table {
    width: 100%;

    th {
        background-color: #C9E0C0;
        color: black;
        text-align: center;
        font-weight: bold;
    }

    td {
        text-align: center;
    }
}

.p-5 {
    padding: 5px !important;
}
