.titulo {
    color: white;
}

mat-form-field {
    width: 100%;
}

.validate-dni{
    height: 50px;
    background-color: #fff;
    border: solid 2px #679738; 
    color: #679738;
    border-radius: 5px;
}

.validate-dni:hover{
    background-color: #C9E0C0;
    color: #fff;
}

textarea.mat-input-element {
    height: 100px;
}

.rounded-circle {
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    margin-top: 18px;
    margin-bottom: 5px;
    margin-right: 30px;
}

.rounded-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

.example-full-width {
    width: 100%;
}

td {
    padding-right: 8px;
}

.tittle-especie{
    color:#C9E0C0;
}

.next,
.done {
    margin-left: auto;
}

h1{
    color:#4a962c;
}

table {
    width: 100%;

    th {
        background-color: #89B361;
        color: white;
        text-align: center;
        font-weight: 600;
        padding-bottom: 20px;
    }

    td {
        text-align: center;
    }
}

.mat-row,
.mat-header-row {
    display: table-row;
}

.accept{
    background-color: #4a962c;
}

.close{
    background-color: #BF3F23;
}

.mat-expansion-panel-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 24px;
    border-radius: inherit;
    transition: height 225ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #89B361 !important;
}
.mat-expansion-indicator::after {
    color: white;
}
.example-headers-align .mat-expansion-panel-header-title {
    flex-basis: 0;
    color: white;
    font-weight: bold;
}

.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
    color: white;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.example-full-width {
    width: 80%;
}

.check-otros {
    margin-top: 40px;
}

fieldset {
    border-color: transparent;
}

.form-field-medium {
    margin-top: 15px;
}

.mycheck:checked {
    background-color: rgb(236 72 153);
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}

.example-radio-button {
    margin: 5px;
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    overflow: auto;
    width: 100%;
}
.mat-table {
    overflow: auto;
    max-height: 500px;
}

.text-right {
    text-align: right;
}



.mat-row,
.mat-header-row {
    display: table-row;
}

#academy-course .sidebar .steps .step.completed .index span {
    border-color: #039be5;
}

// @import "src/@fuse/scss/fuse";
@import "../../../../@fuse/scss/fuse.scss";


#academy-course {

   
    .center {
        position: relative;
        overflow: hidden;

        .header {
            height: 72px;
            min-height: 72px;
            max-height: 72px;
        }

        .content {
            position: relative;
            display: flex;
            //background-image: url('/almacencontrol/assets/images/backgrounds/bosque2T.svg'); 
            background-image: url('/assets/images/backgrounds/bosque2T.svg'); 
            background-size: cover;
            // z-index: -1;
            // color: chartreuse;
            .course-step {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                padding: 48px;
                overflow: auto;
                -webkit-overflow-scrolling: touch;

                &.ng-animating {
                    overflow: hidden;
                }

                // @media (max-width: 720px) {
                //     padding: 0 0 120px 0;
                // }

                .course-step-content {
                    padding: 24px;
                    //max-width: 720px;
                    margin: 0 auto;
                    width: 100%;
                    border-radius: 8px;
                    @include mat-elevation(1);
                }
            }
        }

        .step-navigation {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: space-between;
            bottom: 32px;
            max-width: 944px;
            padding: 0 24px;
            width: 100%;
            left: 50%;
            transform: translateX(-50%);

            .previous {
                margin-right: auto;
            }

            .next,
            .done {
                margin-left: auto;
            }
        }
        .btn-primary2, .btn-primary2:hover {
            background: #4a962c;
            border: 0;
            color: #fff;
            //padding: 4px 14px;
            font-size: 11px;
            min-width: 120px;
            min-height: 32px;
            border-radius: 7px;
            margin: 0 10px;
        }

        .btn-secondary {            
            background: #fff !important;
            border: 0;
            color: #4a962c !important;
            border: 2px solid #4a962c !important;
            //padding: 4px 14px;
            font-size: 11px;
            min-width: 120px;
            min-height: 32px;
            border-radius: 7px;
            margin: 0 10px;
        }
        .btn-volver { 
            border: 2px solid #466E1F !important;
        }
    }
}

.mat-form-field-appearance-outline{
    font-size: 13px;
    border-radius: 25px;
}

.text-primary-ir {
    color: #89B361;
}

.content-tab {
    flex: 1;

    mat-tab-group {
        height: 100%;

        
        .mat-tab-body-wrapper {
            flex-grow: 1;
        }
    }

    .mat-tab-label-container {
        padding: 0 24px;
    }
}

::ng-deep.mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled),
::ng-deep.mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
  color: #4a962c; /* Color que desees */
  background-color: #C9E0C0;
  opacity: 1;
}

