<mat-toolbar class="m-0" style="background-color: #679738; color: white;">
        <span class="title dialog-title"> <b> Visor PDF </b></span>
</mat-toolbar>

<div mat-dialog-content class="p-16 pb-0 m-0" fusePerfectScrollbar>

    <ng-container *ngIf="!isLoadingDownload && pdfSrc != null">
        <pdf-viewer [src]="pdfSrc"  [render-text]="true"  [original-size]="false"
        style="width: 800px; height: 500px"></pdf-viewer>
    </ng-container>

</div>
<br> <br>
<div style="text-align: right;">
    <button mat-fab class="next red-500 fuse-white-fg mat-dialog-close" (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</div>
