<div class="center">

    <br> <br>
    <div style="text-align-last: center">
        <button mat-raised-button class="btn-secondary" style="background-color: #679738;; color: #89B361; border: 2px solid #89B361; border-radius: 6px; font-size: 13px;"
        (click)="fileInput.click()">
        <mat-icon title="Cargar Archivo">vertical_align_top</mat-icon>
        Cargar Archivo
        <input class="no-show" type="file" (change)="addArchivo($event)" [accept]="accept" #fileInput
        readonly />
        </button>
    </div>
    <br>
    <div mat-dialog-content class="p-16 pb-0 m-0" fusePerfectScrollbar>
        <ng-container>
            <div class="example-container mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="descargaArchivo">
                        <th mat-header-cell *matHeaderCellDef style="vertical-align: bottom;"> Descargar </th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            <button mat-mini-fab 
                                (click)="descargarArchivoTabla(element)" style="min-width: 40px; width: 40px; background-color: #89B361;"
                            readonly
                            >
                            <mat-icon title="Descargar Archivo">vertical_align_bottom</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="nombreArchivo">
                        <th mat-header-cell *matHeaderCellDef  style="width:40%; vertical-align: bottom;"> Nombre de Archivo </th>
                        <td mat-cell *matCellDef="let element"> {{element.nombeArchivo }} </td>
                    </ng-container>

                    <ng-container matColumnDef="extensionArchivo">
                        <th mat-header-cell *matHeaderCellDef style="width:20%; vertical-align: bottom;"> Extension Archivo </th>
                        <td mat-cell *matCellDef="let element"> {{element.typeFile}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="accionesArchivo">
                        <th mat-header-cell *matHeaderCellDef style="width:30%; vertical-align: bottom;"> Archivo </th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            <button mat-mini-fab 
                                (click)="eliminarArchivoGeneral(element)" style="min-width: 40px; width: 40px; background-color: #d33;" 
                                readonly>
                                <mat-icon title="Eliminar Archivo">delete</mat-icon>
                                </button>
                                &nbsp; &nbsp;
                                <button mat-mini-fab 
                                    (click)="viewDocuments(element)" style="min-width: 40px; width: 40px; background-color: #89B361;"
                                readonly
                                >
                                <mat-icon title="Ver Archivo">visibility</mat-icon>
                            </button>
                        </td>

                    </ng-container>

                    <!--<ng-container matColumnDef="archivo">
                        <th mat-header-cell *matHeaderCellDef> Archivo </th>
                        <td mat-cell *matCellDef="let element; let i = index">

                            <button type="button" *ngIf="element.nuIdArchivoRecurso !== 'noFile' && (element.nuIdArchivoRecurso === 0 || element.nuIdArchivoRecurso === undefined || element.nuIdArchivoRecurso === null) && (element.tipoIngreso === 'TIPINGRNOR' || element.tipoIngreso ==='TIPINGRINTER')" 
                                class="btn-secondary width-full" style="min-width: 40px; width: 40px;" (click)="fileInput.click()">
                                <mat-icon title="Cargar Archivo">vertical_align_top</mat-icon>
                                <input class="no-show" type="file" (change)="changeFile(element,$event,i)" [accept]="accept" #fileInput
                                    readonly />
                            </button>

                            <button mat-mini-fab *ngIf="element.nuIdArchivoRecurso !== 'noFile' && element.nuIdArchivoRecurso !== 0 && element.nuIdArchivoRecurso !== undefined && element.nuIdArchivoRecurso !== null && (element.tipoIngreso === 'TIPINGRNOR' || element.tipoIngreso ==='TIPINGRINTER')"
                                (click)="descargarArchivoTabla(element.nuIdArchivoRecurso)" style="min-width: 40px; width: 40px; background-color: #89B361;"
                            readonly
                            >
                            <mat-icon title="Descargar Archivo">vertical_align_bottom</mat-icon>
                            </button>
                            &nbsp; &nbsp;
                            <button mat-mini-fab *ngIf="element.nuIdArchivoRecurso !== 'noFile' && element.nuIdArchivoRecurso !== 0 && element.nuIdArchivoRecurso !== undefined && element.nuIdArchivoRecurso !== null && (element.tipoIngreso === 'TIPINGRNOR' || element.tipoIngreso ==='TIPINGRINTER')"
                                (click)="eliminarArchivoGeneral(element.nuIdArchivoRecurso)" style="min-width: 40px; width: 40px; background-color: #d33;"
                            readonly
                            >
                            <mat-icon title="Eliminar Archivo">delete</mat-icon>
                            </button>
                            &nbsp; &nbsp;
                            <button mat-mini-fab *ngIf="element.nuIdArchivoRecurso !== 'noFile' && element.nuIdArchivoRecurso !== 0 && element.nuIdArchivoRecurso !== undefined && element.nuIdArchivoRecurso !== null && (element.tipoIngreso === 'TIPINGRNOR' || element.tipoIngreso ==='TIPINGRINTER')"
                                (click)="verPDF(element.nuIdArchivoRecurso)" style="min-width: 40px; width: 40px; background-color: #89B361;"
                            readonly
                            >
                            <mat-icon title="Ver Archivo">visibility</mat-icon>
                            </button>

                        </td>
                    </ng-container>-->

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
                <!--<mat-paginator style="float:left; color: #89B361;" #paginator [pageSizeOptions]="[5, 10, 20, 50]"
                    showFirstLastButtons [length]="recursoResponse.totalRecords"
                    [pageSize]="recursoResponse.pageSize" (page)="pageDataSource($event)"
                    aria-label="Select page of periodic elements">
                </mat-paginator>-->
            </div>
        </ng-container>
    </div>
</div>
