<div id="academy-course" class="page-layout simple left-sidebar inner-scroll">

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <mat-toolbar class="header p-24" style="background-color: #679738; color: white;" fxLayout="row" fxLayoutAlign="start center">
            <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
                <span class="title dialog-title"> <b> {{titleStep}} </b></span>  
                <button mat-raised-button class="mat-accent btn-volver mr-16" style="background-color: white; color:  #466E1F; width: 100px;"  *ngIf="type==='edit'"
                                    (click)="cancelar()">Volver</button>
            </mat-toolbar-row>
        </mat-toolbar>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div id="course-content" class="content">

            <ng-container *ngFor="let step of course; let i = index;">

                <!-- [@slideIn]="animationDirection" -->
                <div class="course-step" fusePerfectScrollbar *ngIf="currentStep === i ">

                    <div id="course-step-content" *ngIf=" step.stepId==='step02'" class="course-step-content" >
                       
                        <form [formGroup]="inputProductos">  

                            <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="dataTransferencia.tipoTransferencia == 'TPTRANS001'">
                                <span class="text-primary-ir" floatLabel="always" fxFlex="35">Tipo de Documento</span>
                                <div fxFlex="3"></div>
                                <span class="text-primary-ir" floatLabel="always" fxFlex="35">N° de Documento</span>
                                <div fxFlex="3"></div>
                                <span class="text-primary-ir" floatLabel="always" fxFlex="18"></span>
                            </div>

                            <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="dataTransferencia.tipoTransferencia == 'TPTRANS001'">
                                <mat-form-field appearance="outline" style="margin-bottom: 0px" floatLabel="always"
                                    fxFlex="35">
                                    <mat-select formControlName="tipoDocumento">
                                        <mat-option [value]="">
                                            Seleccione
                                        </mat-option>
                                        <ng-container *ngFor="let item of listTipoDocumento">
                                            <mat-option [value]="item.codigo">
                                                {{item.valorPrimario}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
        
                                <div fxFlex="3"></div>
                                <mat-form-field appearance="outline" floatLabel="always" fxFlex="35">
                                    <input matInput type="text" formControlName="numeroDocumento">
                                </mat-form-field>
                                <div fxFlex="3"></div>
                                <button class="validate-dni" floatLabel="always" fxFlex="18" (click)="validarRUC()">Validar RUC</button>
                            </div>


                            <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="dataTransferencia.tipoTransferencia == 'TPTRANS002'">
                                <span class="text-primary-ir" floatLabel="always" fxFlex="47">ATF</span>
                                <div fxFlex="3"></div>
                                <span class="text-primary-ir" floatLabel="always" fxFlex="47">Puesto de Control</span>                        
                            </div>
        
                            <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="dataTransferencia.tipoTransferencia == 'TPTRANS002'">
                                <mat-form-field appearance="outline" style="margin-bottom: 0px" floatLabel="always" fxFlex="47">
                                    <mat-select formControlName="numeroATF" (selectionChange)="searchPuestoControl()">
                                        <mat-option [value]="">
                                            Seleccione
                                        </mat-option>
                                        <ng-container *ngFor="let item of listATF">
                                            <mat-option [value]="item.idAtf">
                                                {{item.nombreAtf}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
        
                                <div fxFlex="3"></div>
        
                                <mat-form-field appearance="outline" style="margin-bottom: 0px" floatLabel="always" fxFlex="47">
                                    <mat-select formControlName="idPuntoControl" (selectionChange)="searchAlmacen()">
                                        <mat-option [value]="">
                                            Seleccione
                                        </mat-option>
                                        <ng-container *ngFor="let item of listPuestoControl">
                                            <mat-option [value]="item.idPuestoControl">
                                                {{item.nombrePuestoControl}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
        
                            </div>


                            <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="dataTransferencia.tipoTransferencia == 'TPTRANS001'">                        
                                <span class="text-primary-ir" floatLabel="always" fxFlex="45">Razón Social</span>                        
                            </div>
                            <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="dataTransferencia.tipoTransferencia == 'TPTRANS001'">
                                <mat-form-field appearance="outline" floatLabel="always" fxFlex="100">
                                    <input matInput type="text" formControlName="nombreBeneficiario">
                                </mat-form-field>
                            </div>  

                            <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="dataTransferencia.tipoTransferencia == 'TPTRANS001'"> 
                                <span class="text-primary-ir" floatLabel="always" fxFlex="47">N° Acta de Transferencia</span>   
                                <div fxFlex="3"></div>
                                <span class="text-primary-ir" floatLabel="always" fxFlex="47">N° de Resolución</span>                
                            </div>
                            <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="dataTransferencia.tipoTransferencia == 'TPTRANS001'">
                                <mat-form-field appearance="outline" floatLabel="always" fxFlex="47">
                                    <input matInput type="text" formControlName="nroActaTransferencia">
                                </mat-form-field>
                                <div fxFlex="3"></div>
                                <mat-form-field appearance="outline" floatLabel="always" fxFlex="47" >
                                    <input matInput type="text" formControlName="nroResolucion">
                                </mat-form-field>
                            </div>   
                            
                            <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="dataTransferencia.tipoTransferencia == 'TPTRANS002'">
                                <span class="text-primary-ir" floatLabel="always" fxFlex="47">Almacén</span>
                                <div fxFlex="3"></div>  
                                <span class="text-primary-ir" floatLabel="always" fxFlex="47">N° Acta de Traslado</span>             
                            </div>
                            <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="dataTransferencia.tipoTransferencia == 'TPTRANS002'">                        
        
                                <mat-form-field appearance="outline" style="margin-bottom: 0px" floatLabel="always" fxFlex="47">
                                    <mat-select formControlName="idAlmacen">
                                        <mat-option [value]="">
                                            Seleccione almacén
                                        </mat-option>
                                        <ng-container *ngFor="let item of listAlmacen">
                                            <mat-option [value]="item.nuIdAlmacen">
                                                {{item.txNombreAlmacen}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                                <div fxFlex="3"></div>                          
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="47">
                                        <input matInput type="text" formControlName="nroActaTraslado">
                                    </mat-form-field>                       
                            </div>
        
                            <div fxLayout="row" fxLayoutAlign="space-between">                        
                                <span class="text-primary-ir" floatLabel="always" fxFlex="45">Observaciones</span>                        
                            </div>
                            <div fxLayout="row" fxLayoutAlign="space-between">
                                <mat-form-field appearance="outline" floatLabel="always" fxFlex="100">
                                    <textarea matInput type="text" formControlName="observaciones"></textarea>
                                </mat-form-field>
                            </div>  


                        <br>
                        <br>
                            
                        <!-- CONTENT -->
                        <div class="content-tab">

                            <mat-tab-group dynamicHeight="true">

                                <mat-tab label="Recursos Maderables">
                                    <br>
                                        <div fxLayout="row" fxLayoutAlign="space-between">
                                            <div fxFlex="70"></div>
                                        </div>
                                    <br>
                                    <div class="example-container mat-elevation-z1">
                                        <table mat-table [dataSource]="dataSourceMad">
                                            <ng-container matColumnDef="position">
                                                <th mat-header-cell *matHeaderCellDef style="width:5%"> Disponible </th>
                                                <td mat-cell *matCellDef="let element"> 
                                                    <mat-icon *ngIf="element.disponibilidadActa==='D'" style="color: #679738;">check_circle_outline</mat-icon>
                                                    <mat-icon *ngIf="element.disponibilidadActa==='ND'" style="color: brown;">not_interested</mat-icon>
                                                </td>
                                            </ng-container>
                            
                                            <!--<ng-container matColumnDef="nroGuiaTransporteForestal">
                                                <th mat-header-cell *matHeaderCellDef style="width: 11%;">N° Guía</th>
                                                <td mat-cell *matCellDef="let element"> {{element.nroGuiaTransporteForestal}} </td>
                                            </ng-container>-->
            
                                            <ng-container matColumnDef="numeroActa">
                                                <th mat-header-cell *matHeaderCellDef style="width: 11%;">N° Acta</th>
                                                <td mat-cell *matCellDef="let element"> {{element.numeroActa}} </td>
                                            </ng-container>
                            
                                            <ng-container matColumnDef="nombreCientifico">
                                                <th mat-header-cell *matHeaderCellDef style="width: 12%;"> Nombre Científico </th>
                                                <td mat-cell *matCellDef="let element"> {{element.nombreCientifico}} </td>
                                            </ng-container>
                            
                                            <ng-container matColumnDef="nombreComun">
                                                <th mat-header-cell *matHeaderCellDef style="width: 14%;"> Nombre Común </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <div *ngIf="element.idEspecie !== 0">{{element.nombreComun}}</div>
                                                    <div *ngIf="element.idEspecie === 0"><b>{{element.nombreComun}}</b></div>
                                                </td>
                                            </ng-container>            
                                            
            
                                            <ng-container matColumnDef="txCantidadProducto">
                                                <th mat-header-cell *matHeaderCellDef style="width: 8%;"> Cantidad </th>
                                                <td mat-cell *matCellDef="let element"> 
                                                    <mat-form-field [style.width.px]=80>
                                                        <mat-label></mat-label>
                                                        <input matInput placeholder="" [(ngModel)]="element.txCantidadProducto" [ngModelOptions]="{standalone: true}" type="number"
                                                        minlength="1" min="0" onkeypress="return /[0-9.]/i.test(event.key)" style="text-align: right;">
                                                    </mat-form-field>
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="unidadMedida">
                                                <th mat-header-cell *matHeaderCellDef style="width: 10%; text-align: center;"
                                                    class="center"> Unidad Medida </th>
                                                <td mat-cell *matCellDef="let element" class="text-center">
                                                    <div *ngFor="let item of listUnidadMedida">
                                                        <div *ngIf="item.codigo == element.unidadMedida">
                                                            {{item.valorPrimario}}
                                                        </div>
                                                    </div>
                                               </td>
                                            </ng-container>
            
                                            <!--
                                            <ng-container matColumnDef="descontar">
                                                <th mat-header-cell *matHeaderCellDef style="width: 8%;"> Descontar </th>
                                                ------<td mat-cell *matCellDef="let element"> {{element.txCantidadProducto}} </td>-----
                                                ------<input mat-cell *matCellDef="let element" class="field-input" type="number" [(ngModel)]="element.descontar" minlength="1" min="0" onkeypress="return /[0-9.]/i.test(event.key)">-----
                                                <td mat-cell *matCellDef="let element">
                                                    <div *ngIf="element.idEspecie !== 0">
                                                        <mat-form-field [style.width.px]=80 *ngIf="element.disponibilidadActa==='D'">
                                                            <mat-label></mat-label>
                                                            <input matInput placeholder="" [(ngModel)]="element.descontar" [ngModelOptions]="{standalone: true}" type="number"
                                                            [disabled]="element.txCantidadProducto=='0'"
                                                            minlength="1" min="0" onkeypress="return /[0-9.]/i.test(event.key)" style="text-align: right;">
                                                        </mat-form-field>
                                                    </div>
                                                </td>
                                            </ng-container>
                                        -->
                                            <ng-container matColumnDef="metroCubico">
                                                <th mat-header-cell *matHeaderCellDef style="width: 9%;"> Metro Cúbico </th>
                                                <td mat-cell *matCellDef="let element"> {{element.metroCubico}} </td>
                                            </ng-container>
            
                                            <!--<ng-container matColumnDef="descontarMetroCubico">
                                                <th mat-header-cell *matHeaderCellDef style="width: 8%;"> Descontar Metro Cúbico</th>
                                                -----<td mat-cell *matCellDef="let element"> {{element.txCantidadProducto}} </td>-------
                                                -----<input mat-cell *matCellDef="let element" class="field-input" type="number" [(ngModel)]="element.descontar" minlength="1" min="0" onkeypress="return /[0-9.]/i.test(event.key)">-------
                                                <td mat-cell *matCellDef="let element">
                                                    <div *ngIf="element.idEspecie !== 0">
                                                        <mat-form-field [style.width.px]=80 *ngIf="element.disponibilidadActa==='D'">
                                                            <mat-label></mat-label>
                                                            <input matInput placeholder="" [(ngModel)]="element.descontarMetroCubico" [ngModelOptions]="{standalone: true}" type="number"
                                                            [disabled]="element.txCantidadProducto==0 || element.txCantidadProducto==null || element.txCantidadProducto==undefined"
                                                            minlength="1" min="0" onkeypress="return /[0-9.]/i.test(event.key)" style="text-align: right;">
                                                        </mat-form-field>
                                                    </div>
                                                </td>
                                            </ng-container>-->
                                            
                                            
                                                
                                            <ng-container matColumnDef="acciones" class="text-center">
                                            <th mat-header-cell *matHeaderCellDef style="width: 12%;"> Acciones </th>
                                            <td mat-cell *matCellDef="let element" class="field-input" >
                                                <span (click)="openDialogDetalleRecursos(element.nuIdRecurso,element)"><mat-icon>remove_red_eye</mat-icon></span>
                                                <mat-icon>edit</mat-icon>
                                            </td>
                                            </ng-container>
            
                                            <!--<ng-container matColumnDef="flagAgregar"class="text-center" >
                                                
                                                <th mat-header-cell *matHeaderCellDef style="width: 12%; padding-left: 1%;" > 
                                                    <div *ngIf="validCheck">
                                                        <input class="field-checkbox" type="checkbox" (change)="seleccionarTodo($event)">
                                                    </div>
                                                </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <div *ngIf="element.idEspecie !== 0">
                                                    <div *ngIf=" element.txCantidadProducto!='0' && element.disponibilidadActa==='D'">
                                                        <input *ngIf="element.disponibilidadActa==='D'" mat-cell class="field-checkbox" type="checkbox" [(ngModel)]="element.flagAgregar" [ngModelOptions]="{standalone: true}">
                                                    </div>
                                                    </div>
                                                </td>
                                            </ng-container> -->
            
                            
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            
                                        </table>
                                        <mat-paginator style="float:left; color: #89B361;" #paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons 
                                        [length]="recursoResponseMad.totalRecords"
                                        [pageSize]="recursoResponseMad.pageSize" (page)="pageDataSource($event,'MAD')"
                                        aria-label="Select page of periodic elements"> 
                                    </mat-paginator>
                                    </div>
                                </mat-tab>

                                <mat-tab label="Recursos No Maderables">
                                    <br>
                                        <div fxLayout="row" fxLayoutAlign="space-between">
                                            <div fxFlex="70"></div>
                                            <!--<button mat-raised-button class="mat-accent mr-16" style="background-color: #43a047;"
                                                (click)="agregarNoMaderable()">
                                                <mat-icon aria-label="Agregar">library_add</mat-icon>
                                                Agregar especie nueva</button>-->
                                        </div>
                                    <br>
                                    <div class="example-container mat-elevation-z1">
                                        <table mat-table [dataSource]="dataSourceNoMad">
                
                                            <!-- <ng-container matColumnDef="position">
                                                <th mat-header-cell *matHeaderCellDef style="width: 5%;"> #</th>
                                                <td mat-cell *matCellDef="let element;let i = index;">
                                                    <div *ngIf="element.idEspecie !== 0">
                                                        {{ i + 1 + (paginator.pageIndex * paginator.pageSize) }}
                                                    </div>
                                                </td>
                                            </ng-container> -->

                                            <ng-container matColumnDef="position">
                                                <th mat-header-cell *matHeaderCellDef style="width:5%"> Disponible </th>
                                                <td mat-cell *matCellDef="let element"> 
                                                    <mat-icon *ngIf="element.disponibilidadActa==='D'" style="color: #679738;">check_circle_outline</mat-icon>
                                                    <mat-icon *ngIf="element.disponibilidadActa==='ND'" style="color: brown;">not_interested</mat-icon>
                                                </td>
                                            </ng-container>
                            
                                            <!--<ng-container matColumnDef="nroGuiaTransporteForestal">
                                                <th mat-header-cell *matHeaderCellDef style="width: 15%;">N° Guía</th>
                                                <td mat-cell *matCellDef="let element"> {{element.nroGuiaTransporteForestal}} </td>
                                            </ng-container>-->
            
                                            <ng-container matColumnDef="numeroActa">
                                                <th mat-header-cell *matHeaderCellDef style="width: 10%;">N° Acta</th>
                                                <td mat-cell *matCellDef="let element"> {{element.numeroActa}} </td>
                                            </ng-container>
                            
                                            <ng-container matColumnDef="nombreCientifico">
                                                <th mat-header-cell *matHeaderCellDef style="width: 17%;"> Nombre Científico </th>
                                                <td mat-cell *matCellDef="let element"> {{element.nombreCientifico}} </td>
                                            </ng-container>
                            
                                            <ng-container matColumnDef="nombreComun">
                                                <th mat-header-cell *matHeaderCellDef style="width: 18%;"> Nombre Común </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <div *ngIf="element.idEspecie !== 0">{{element.nombreComun}}</div>
                                                    <div *ngIf="element.idEspecie === 0"><b>{{element.nombreComun}}</b></div>
                                                </td>
                                            </ng-container>
            
            
                                            <ng-container matColumnDef="txCantidadProducto">
                                                <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Total </th>
                                                <td mat-cell *matCellDef="let element">
                                                     <mat-form-field [style.width.px]=80>
                                                        <mat-label></mat-label>
                                                        <input matInput placeholder="" [(ngModel)]="element.cantidadTotal" [ngModelOptions]="{standalone: true}" type="number"
                                                        minlength="1" min="0" onkeypress="return /[0-9.]/i.test(event.key)" style="text-align: right;">
                                                    </mat-form-field>
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="unidadMedida">
                                                <th mat-header-cell *matHeaderCellDef style="width: 10%; text-align: center;"
                                                    class="center"> Unidad Medida </th>
                                                <td mat-cell *matCellDef="let element" class="text-center">
                                                    <div *ngFor="let item of listUnidadMedida">
                                                        <div *ngIf="item.codigo == element.unidadMedida">
                                                            {{item.valorPrimario}}
                                                        </div>
                                                    </div>
                                               </td>
                                            </ng-container>

            
                                            <!--<ng-container matColumnDef="descontar">
                                                <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Descontar </th>
                                                ------<td mat-cell *matCellDef="let element"> {{element.txCantidadProducto}} </td>------
                                                -------<input mat-cell *matCellDef="let element" class="field-input" type="number" [(ngModel)]="element.descontar" minlength="1" min="0" onkeypress="return /[0-9.]/i.test(event.key)">------
                                                <td mat-cell *matCellDef="let element">
                                                    <div *ngIf="element.idEspecie !== 0">
                                                        <mat-form-field [style.width.px]=80 *ngIf="element.disponibilidadActa==='D'">
                                                            <mat-label></mat-label>
                                                            <input matInput placeholder="" [(ngModel)]="element.descontar" [ngModelOptions]="{standalone: true}" type="number"
                                                            [disabled]="element.txCantidadProducto=='0'"
                                                            minlength="1" min="0" onkeypress="return /[0-9.]/i.test(event.key)" style="text-align: right;">
                                                        </mat-form-field>
                                                    </div>
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="metroCubico">
                                                <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Metro Cúbico </th>
                                                <td mat-cell *matCellDef="let element"> {{element.metroCubico }} </td>
                                            </ng-container>
            
                                            <ng-container matColumnDef="descontarMetroCubico">
                                                <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Descontar Metro Cúbico</th>
                                                ----<td mat-cell *matCellDef="let element"> {{element.txCantidadProducto}} </td>----
                                                ----<input mat-cell *matCellDef="let element" class="field-input" type="number" [(ngModel)]="element.descontar" minlength="1" min="0" onkeypress="return /[0-9.]/i.test(event.key)">----
                                                <td mat-cell *matCellDef="let element">
                                                    <div *ngIf="element.idEspecie !== 0">
                                                        <mat-form-field [style.width.px]=80 *ngIf="element.disponibilidadActa==='D'">
                                                            <mat-label></mat-label>
                                                            <input matInput placeholder="" [(ngModel)]="element.descontarMetroCubico" [ngModelOptions]="{standalone: true}" type="number"
                                                            [disabled]="element.txCantidadProducto=='0'"
                                                            minlength="1" min="0" onkeypress="return /[0-9.]/i.test(event.key)" style="text-align: right;">
                                                        </mat-form-field>
                                                    </div>
                                                </td>
                                            </ng-container>
                                            
                                            
                                            <ng-container matColumnDef="acciones" class="text-center">
                                            <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Acciones </th>
                                            <td mat-cell *matCellDef="let element" class="field-input" >
                                                <span (click)="openDialogDetalleRecursos(element.nuIdRecurso,element)"><mat-icon>remove_red_eye</mat-icon></span>
                                                <mat-icon>edit</mat-icon>
                                            </td>
                                            </ng-container>
            
                                            <ng-container matColumnDef="flagAgregar"class="text-center" >
                                                
                                                <th mat-header-cell *matHeaderCellDef style="width: 15%; padding-left: 1%;" > 
                                                    <div *ngIf="validCheck">
                                                        <input class="field-checkbox" type="checkbox" (change)="seleccionarTodo($event)">
                                                    </div>
                                                </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <div *ngIf="element.idEspecie !== 0">
                                                    <div *ngIf="element.disponibilidadActa==='D'">
                                                        <input mat-cell class="field-checkbox" type="checkbox" [(ngModel)]="element.flagAgregar" [ngModelOptions]="{standalone: true}">
                                                    </div>
                                                    </div>
                                                </td>
                                            </ng-container> -->
            
                            
                                            <tr mat-header-row *matHeaderRowDef="displayedColumnsNMFA"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumnsNMFA;"></tr>
                            
                                        </table>
                                        <mat-paginator style="float:left;  color: #89B361;" #paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons
                                        [length]="recursoResponseNoMad.totalRecords" [pageSize]="recursoResponseNoMad.pageSize"
                                        (page)="pageDataSource($event, 'NOMAD')" aria-label="Select page of periodic elements">
                                        </mat-paginator>
                                    </div>
                                </mat-tab>

                                <mat-tab label="Fauna">
                                    <br>
                                        <div fxLayout="row" fxLayoutAlign="space-between">
                                            <div fxFlex="70"></div>
                                            <!--<button mat-raised-button class="mat-accent mr-16" style="background-color: #43a047;"
                                                (click)="agregarFauna()">
                                                <mat-icon aria-label="Agregar">library_add</mat-icon>
                                                Agregar especie nueva</button>-->
                                        </div>
                                    <br>
                                    <div class="example-container mat-elevation-z1">
                                        <table mat-table [dataSource]="dataSource">
                
                                            <!-- <ng-container matColumnDef="position">
                                                <th mat-header-cell *matHeaderCellDef style="width: 5%;"> #</th>
                                                <td mat-cell *matCellDef="let element;let i = index;">
                                                    <div *ngIf="element.idEspecie !== 0">
                                                        {{ i + 1 + (paginator.pageIndex * paginator.pageSize) }}
                                                    </div>
                                                </td>
                                            </ng-container> -->

                                            <ng-container matColumnDef="position">
                                                <th mat-header-cell *matHeaderCellDef style="width:5%"> Disponible </th>
                                                <td mat-cell *matCellDef="let element"> 
                                                    <mat-icon *ngIf="element.disponibilidadActa==='D'" style="color: #679738;">check_circle_outline</mat-icon>
                                                    <mat-icon *ngIf="element.disponibilidadActa==='ND'" style="color: brown;">not_interested</mat-icon>
                                                </td>
                                            </ng-container>
                            
                                           <!-- <ng-container matColumnDef="nroGuiaTransporteForestal">
                                                <th mat-header-cell *matHeaderCellDef style="width: 15%;">N° Guía</th>
                                                <td mat-cell *matCellDef="let element"> {{element.nroGuiaTransporteForestal}} </td>
                                            </ng-container>-->
            
                                            <ng-container matColumnDef="numeroActa">
                                                <th mat-header-cell *matHeaderCellDef style="width: 15%;">N° Acta</th>
                                                <td mat-cell *matCellDef="let element"> {{element.numeroActa}} </td>
                                            </ng-container>
                            
                                            <ng-container matColumnDef="nombreCientifico">
                                                <th mat-header-cell *matHeaderCellDef style="width: 20%;"> Nombre Científico </th>
                                                <td mat-cell *matCellDef="let element"> {{element.nombreCientifico}} </td>
                                            </ng-container>
                            
                                            <ng-container matColumnDef="nombreComun">
                                                <th mat-header-cell *matHeaderCellDef style="width: 20%;"> Nombre Común </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <div *ngIf="element.idEspecie !== 0">{{element.nombreComun}}</div>
                                                    <div *ngIf="element.idEspecie === 0"><b>{{element.nombreComun}}</b></div>
                                                </td>
                                            </ng-container>           
                                            
            
                                            <ng-container matColumnDef="txCantidadProducto">
                                                <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Cantidad </th>
                                                <td mat-cell *matCellDef="let element"> 
                                                    <mat-form-field [style.width.px]=80>
                                                        <mat-label></mat-label>
                                                        <input matInput placeholder="" [(ngModel)]="element.txCantidadProducto" [ngModelOptions]="{standalone: true}" type="number"
                                                        minlength="1" min="0" onkeypress="return /[0-9.]/i.test(event.key)" style="text-align: right;">
                                                    </mat-form-field>
                                                </td>
                                            </ng-container>
                                           
            
                                            <!--<ng-container matColumnDef="descontar">
                                                <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Descontar </th>
                                                ----<td mat-cell *matCellDef="let element"> {{element.txCantidadProducto}} </td>----
                                                ----<input mat-cell *matCellDef="let element" class="field-input" type="number" [(ngModel)]="element.descontar" minlength="1" min="0" onkeypress="return /[0-9.]/i.test(event.key)">----
                                                <td mat-cell *matCellDef="let element">
                                                    <div *ngIf="element.idEspecie !== 0">
                                                        <mat-form-field [style.width.px]=80 *ngIf="element.disponibilidadActa==='D'">
                                                            <mat-label></mat-label>
                                                            <input matInput placeholder="" [(ngModel)]="element.descontar" [ngModelOptions]="{standalone: true}" type="number"
                                                            [disabled]="element.txCantidadProducto=='0'"
                                                            minlength="1" min="0" onkeypress="return /[0-9.]/i.test(event.key)" style="text-align: right;">
                                                        </mat-form-field>
                                                    </div>
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="flagAgregar"class="text-center" >
                                                
                                                <th mat-header-cell *matHeaderCellDef style="width: 15%; padding-left: 1%;" > 
                                                    <div *ngIf="validCheck">
                                                        <input class="field-checkbox" type="checkbox" (change)="seleccionarTodo($event)">
                                                    </div>
                                                </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <div *ngIf="element.idEspecie !== 0">
                                                    <div *ngIf=" element.txCantidadProducto!='0' && element.disponibilidadActa==='D'">
                                                        <input mat-cell class="field-checkbox" type="checkbox" [(ngModel)]="element.flagAgregar" [ngModelOptions]="{standalone: true}">
                                                    </div>
                                                    </div>
                                                </td>
                                            </ng-container> -->
            
                            
                                            <tr mat-header-row *matHeaderRowDef="displayedColumnsNMFAUNA"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumnsNMFAUNA;"></tr>
                            
                                        </table>
                                        <mat-paginator style="float:left;  color: #89B361;" #paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons
                                        [length]="recursoResponseFauna.totalRecords" [pageSize]="recursoResponseFauna.pageSize"
                                        (page)="pageDataSource($event,'FA')" aria-label="Select page of periodic elements">
                                        </mat-paginator>
                                    </div>
                                </mat-tab>

                            </mat-tab-group>

                        </div>
                        <!-- / CONTENT -->

                        <br> <br><br><br><br><br><br><br>      

                       
                    </form>

                    </div>

                </div>

            </ng-container>

        </div>
        
        <div mat-dialog-actions class="text-center" style="padding: 3%;" *ngIf="type!=='edit'">
            <!-- <button mat-raised-button class="mat-accent mr-16" style="background-color: #43a047;"
                (click)="openDialogBeneficiario()">Transferencia a Beneficiario</button>

            <button mat-raised-button class="mat-accent mr-16" style="background-color: #43a047;"
                (click)="openDialogAlmacen()">Transferencia a Almacén</button>

            <button mat-raised-button class="mat-accent mr-16" style="background-color: #43a047;"
                >Transferencia a Decomisado</button> 

                <button mat-raised-button class="mat-accent mr-16" style="background-color: #679738;"
                (click)="salidas()">Salidas</button>-->
        </div>
        
        <!-- / CONTENT -->

        <div class="step-navigation">

            <button mat-fab class="previous green-600 fuse-white-fg" (click)="gotoPreviousStep()"
                [disabled]="currentStep === 0" [fxHide]="currentStep === 0">
                <mat-icon>chevron_left</mat-icon>
            </button>

            <button mat-fab class="next green-600 fuse-white-fg" (click)="gotoNextStep()"
                [disabled]="currentStep === course.length - 1" [fxHide]="currentStep === course.length - 1">
                <mat-icon>chevron_right</mat-icon>
            </button>

            <!-- <button mat-fab class="done green-600" routerLink="/apps/academy/courses"
                [disabled]="currentStep !== course.length - 1" [fxShow]="currentStep === course.length - 1">
                <mat-icon>check</mat-icon>
            </button> -->

        </div>
        

    </div>
    <!-- / CENTER -->




</div>