@import url('https://drive.google.com/drive/u/0/folders/1IXze--BOpVohMlXYMU5WDFnwq72tNinU');


.primero{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: #466E1F;
    text-align: center;
    margin: 0%;
}

.segundo{
    font-family: 'Sora', sans-serif;
    font-weight: 800;
    font-size: 90px;
    color: #466E1F;
    text-align: center;
    margin: 0%;
}


body {
    background-image: url('/almacen/assets/images/backgrounds/bosque2T.svg'); 
    background-size: cover;
   // z-index: -1;
  color: chartreuse;
}



