<div id="academy-course" class="page-layout simple left-sidebar inner-scroll">

    <div class="center">

        <div class="header p-24" style="background-color: #679738; color: white;" fxLayout="row" fxLayoutAlign="start center">

            <div>
                <h2><b> Bandeja de Registro</b> </h2>
            </div>

        </div>
        <div id="course-content" class="content">

            <ng-container>
                <div class="course-step" fusePerfectScrollbar>

                    <div id="course-step-content" class="course-step-content ">
                        <form [formGroup]="inputBandeja">

                            <div fxLayout="row" fxLayoutAlign="space-between">
                                <span class="text-primary-ir" floatLabel="always" fxFlex="45">Número de documento</span>
                                <div fxFlex="5"></div>
                                <span class="text-primary-ir" floatLabel="always" fxFlex="45">Número de Acta</span>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="space-between">
                                <mat-form-field appearance="outline" floatLabel="always" fxFlex="45">                                    
                                    <input matInput type="text" formControlName="numeroDocumento">
                                </mat-form-field>
                                <div fxFlex="5"></div>
                                <mat-form-field appearance="outline" floatLabel="always" fxFlex="45">
                                    <input matInput type="text" formControlName="numeroActa">
                                </mat-form-field>
                            </div>
                            <br>
                            <div fxLayout="row" fxLayoutAlign="space-between">
                                <span class="text-primary-ir" floatLabel="always" fxFlex="45">Número de Guía</span>
                                <div fxFlex="5"></div>
                                <span class="text-primary-ir" floatLabel="always" fxFlex="45">Tipo de Ingreso</span>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="space-between"> 
                                <mat-form-field appearance="outline" floatLabel="always" fxFlex="45">
                                    <input matInput type="text" formControlName="numeroGuia">
                                </mat-form-field>  

                                <mat-form-field appearance="outline"  style="margin-bottom: 0px" floatLabel="always" fxFlex="45" >
                                    <mat-select formControlName="tipoIngreso" >
                                        <mat-option [value]="">
                                            Seleccione
                                        </mat-option>
                                        <ng-container *ngFor="let item of listTipoIngreso">
                                            <mat-option [value]="item.codigo" >
                                                {{item.valorPrimario}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <br>
                            <div fxLayout="row" fxLayoutAlign="space-between">
                                <span class="text-primary-ir" floatLabel="always" fxFlex="45">Almacén</span>
                                <!-- <div fxFlex="5"></div>
                                <span class="text-primary-ir" floatLabel="always" fxFlex="45">Disponibilidad de Acta</span> -->
                            </div>

                            <div fxLayout="row" fxLayoutAlign="space-between">

                                <mat-form-field appearance="outline" style="margin-bottom: 0px" floatLabel="always"
                                    fxFlex="45">
                                    <mat-select formControlName="almacen">
                                        <mat-option [value]="">
                                            Seleccione
                                        </mat-option>
                                        <ng-container *ngFor="let item of listAlmacen">
                                            <mat-option [value]="item.nuIdAlmacen">
                                                {{item.txNombreAlmacen}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>  
                                <!-- <mat-form-field appearance="outline"  style="margin-bottom: 0px" floatLabel="always" fxFlex="45" >
                                    <mat-select formControlName="disponibilidadActa">
                                        <mat-option [value]="">
                                            Seleccione
                                        </mat-option>
                                        <ng-container *ngFor="let item of listDisponibilidadActa">
                                            <mat-option [value]="item.codigo" >
                                                {{item.valorPrimario}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>                               -->
                            </div>

                            <br>
                            <br>
                            <div class="col-sm-12 my-2 form-group text-center">
                                <button mat-button class="btn btn-sm btn-secondary mr-2" (click)="limpiarCampos()">Limpiar</button>
                                <button mat-button class="btn btn-sm btn-secondary mr-2"
                                    (click)="Search()">Buscar</button>
                                <button mat-button class="btn btn-sm btn-registrar mr-2"
                                    (click)="NewRecurso()">Registrar Nuevo</button>

                            </div>
                            <br>
                            <br>

                            <div class="example-container mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource">

                                    <!--<ng-container matColumnDef="position">
                                        <th mat-header-cell *matHeaderCellDef> #</th>
                                        <td mat-cell *matCellDef="let element;let i = index;">
                                            {{ i + 1 + (paginator.pageIndex * paginator.pageSize) }}
                                        </td>
                                    </ng-container>-->

                                    <ng-container matColumnDef="nuIdRecurso">
                                        <th mat-header-cell *matHeaderCellDef style="width:5%"> Id  </th>
                                        <td mat-cell *matCellDef="let element"> {{element.nuIdRecurso }} </td>
                                    </ng-container>
                                    
                                    <ng-container matColumnDef="tipoIngreso">
                                        <th mat-header-cell *matHeaderCellDef> Tipo de Ingreso </th>
                                        <td mat-cell *matCellDef="let element"> {{element.tipoIngresoDesc }} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="txNroGuiaTransporteForestal">
                                        <th mat-header-cell *matHeaderCellDef style="width:12%"> N° Guía </th>
                                        <td mat-cell *matCellDef="let element"> {{element.txNroGuiaTransporteForestal}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="txNombreAutoridadRegional">
                                        <th mat-header-cell *matHeaderCellDef style="width:12%"> N° Acta </th>
                                        <td mat-cell *matCellDef="let element"> {{element.numeroActa}} </td>
                                    </ng-container>

                                    <!-- <ng-container matColumnDef="disponibilidadActa">
                                        <th mat-header-cell *matHeaderCellDef style="width:12%"> Disponible </th>
                                        <td mat-cell *matCellDef="let element"> {{element.disponibilidadActa}} </td>
                                    </ng-container> -->

                                    <!-- <ng-container matColumnDef="disponibilidadActa">
                                        <th mat-header-cell *matHeaderCellDef style="width:5%"> Disponible </th>
                                        <td mat-cell *matCellDef="let element"> 
                                            <mat-icon *ngIf="element.disponibilidadActa==='D'" style="color: #679738;">check_circle_outline</mat-icon>
                                            <mat-icon *ngIf="element.disponibilidadActa==='ND'" style="color: brown;">not_interested</mat-icon>
                                        </td>
                                    </ng-container> -->

                                    <ng-container matColumnDef="tipoDocumento">
                                        <th mat-header-cell *matHeaderCellDef> Tipo de Documento </th>
                                        <td mat-cell *matCellDef="let element"> {{element.intervenido.tipoDocumento}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="numeroDocumento">
                                        <th mat-header-cell *matHeaderCellDef> Número de documento</th>
                                        <td mat-cell *matCellDef="let element"> {{element.intervenido.numeroDocumento}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="txNombreAlmacen">
                                        <th mat-header-cell *matHeaderCellDef> Almacén</th>
                                        <td mat-cell *matCellDef="let element"> {{element.txNombreAlmacen}} </td>
                                    </ng-container>


                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                        <td mat-cell *matCellDef="let element">

                                            <button *ngIf="element.tipoIngreso === 'TIPINGRNOR' || element.tipoIngreso ==='TIPINGRINTER'" mat-mini-fab (click)="verRecurso(element, element.nuIdRecurso)" style="background-color: #679738;">
                                             <mat-icon>edit</mat-icon>
                                            </button>
                                            &nbsp; &nbsp;
                                            <button  *ngIf="element.tipoIngreso === 'TIPINGRNOR' || element.tipoIngreso ==='TIPINGRINTER'" mat-mini-fab (click)="eliminar(element.nuIdRecurso)" style="background-color: #d33;">
                                                <mat-icon>delete</mat-icon>
                                               </button>

                                            
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                                </table>
                                <mat-paginator style="float:left; color: #89B361;" #paginator [pageSizeOptions]="[5, 10, 20, 50]"
                                    showFirstLastButtons [length]="recursoResponse.totalRecords"
                                    [pageSize]="recursoResponse.pageSize" (page)="pageDataSource($event)"
                                    aria-label="Select page of periodic elements">
                                </mat-paginator>
                            </div>
                        </form>
                    </div>


                </div>

            </ng-container>

        </div>

    </div>
</div>