<div id="academy-course" class="page-layout left-sidebar inner-scroll">

    <!-- CENTER -->
    <div class="center">

        <mat-toolbar class="m-0" style="background-color: #679738; color: white;">
            <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
                <span class="title dialog-title"> <b>  Bajas </b></span>
                <button mat-icon-button (click)="_dialogRef.close()" aria-label="Close dialog">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>

        <br><br>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="course-step">

            <div id="course-step-content" class="course-step-content ">
                <form [formGroup]="inputTransferirBajas">

                    <div fxLayout="row" fxLayoutAlign="space-between">
                        <span class="text-primary-ir" floatLabel="always" fxFlex="47">Fecha de Transferencia</span>
                        <div fxFlex="3"></div>
                        <span class="text-primary-ir" floatLabel="always" fxFlex="47">Hora de Transferencia</span>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between">    
                        <mat-form-field appearance="outline" style="margin-bottom: 0px" floatLabel="always"
                        fxFlex="47">
                            <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="fechaActual" name="fechaTransferencia"
                                formControlName="fechaTransferencia"> 
                            <mat-datepicker-toggle matSuffix [for]="startDatePicker" ></mat-datepicker-toggle>
                            <mat-datepicker #startDatePicker></mat-datepicker>
                        </mat-form-field>
                        <div fxFlex="3"></div>
                        <mat-form-field appearance="outline" style="margin-bottom: 0px" floatLabel="always"
                        fxFlex="47">
                            <input matInput type="time" [(ngModel)]="horaActual" formControlName="horaTransferencia">
                        </mat-form-field>
                    </div>
                    
                    <div fxLayout="row" fxLayoutAlign="space-between">                        
                        <span class="text-primary-ir" floatLabel="always" fxFlex="47">N° Acta de Transferencia</span>  
                        <div fxFlex="3"></div>           
                        <span class="text-primary-ir" floatLabel="always" fxFlex="47">N° de Resolución</span>                        
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between">
                        <mat-form-field appearance="outline" floatLabel="always" fxFlex="47">
                            <input matInput type="text" formControlName="numeroActa">
                        </mat-form-field>
                        <div fxFlex="3"></div>
                        <mat-form-field appearance="outline" floatLabel="always" fxFlex="47">
                            <input matInput type="text" formControlName="numeroResolucion">
                        </mat-form-field>
                    </div>   
                    

                    <div fxLayout="row" fxLayoutAlign="space-between">                        
                        <span class="text-primary-ir" floatLabel="always" fxFlex="45">Observaciones</span>                        
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between">
                        <mat-form-field appearance="outline" floatLabel="always" fxFlex="100">
                            <textarea matInput type="text" formControlName="observaciones"></textarea>
                        </mat-form-field>
                    </div>  
                    
                    
                </form>
            </div>

        </div>

        <br> 
        <div mat-dialog-actions class="text-center" style="padding: 3%;">
            <button mat-raised-button class="mat-accent mr-16" style="background-color: #679738;" (click)="saveBajas()">Transferir</button>
            <button mat-raised-button class="mat-accent mr-16" style="background-color: #d33;"
                                        (click)="close()">Cancelar</button>
        </div>
        <div class="step-navigation">
        </div>
    </div>
</div>