<div id="academy-course" class="page-layout simple left-sidebar inner-scroll">

    <div class="center">

        <div class="header p-24" style="background-color: #679738; color: white;" fxLayout="row" fxLayoutAlign="start center">

            <div>
                <h2> <b>Reporte de Indicadores </b> </h2>
            </div>

        </div>
        <div id="course-content" class="content">

            <ng-container>

                <div class="course-step" fusePerfectScrollbar>

                    <div id="course-step-content" class="course-step-content ">
                        <form [formGroup]="inputBandeja">
                           
                            <div fxLayout="row" fxLayoutAlign="space-between">
                                <span class="text-primary-ir" floatLabel="always" fxFlex="45">Almacén</span>
                                <div fxFlex="5"></div>
                                <span class="text-primary-ir" floatLabel="always" fxFlex="45">Tipo de Acción</span>                                
                            </div>

                            <div fxLayout="row" fxLayoutAlign="space-between">

                                <mat-form-field appearance="outline" style="margin-bottom: 0px" floatLabel="always" fxFlex="45">
                                    <mat-select formControlName="almacen">
                                        <mat-option [value]="">
                                            Seleccione
                                        </mat-option>
                                        <ng-container *ngFor="let item of listAlmacen">
                                            <mat-option [value]="item.nuIdAlmacen">
                                                {{item.txNombreAlmacen}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>  
                                <div fxFlex="5"></div>
                                <mat-form-field appearance="outline"  style="margin-bottom: 0px" floatLabel="always" fxFlex="45" >
                                    <mat-select formControlName="tipoAccion" >
                                        <mat-option [value]="">
                                            Seleccione
                                        </mat-option>
                                        <ng-container *ngFor="let item of listTipoAccion">
                                            <mat-option [value]="item.codigo" >
                                                {{item.valorPrimario}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field> 
                            </div> 
                            <div fxLayout="row" fxLayoutAlign="space-between">
                                <span class="text-primary-ir" floatLabel="always" fxFlex="45">Periodo Trimestral</span>
                                <div fxFlex="5"></div>
                                <span class="text-primary-ir" floatLabel="always" fxFlex="45">Periodo Semestral</span>
                                
                            </div>
                            <div fxLayout="row" fxLayoutAlign="space-between">

                                <mat-form-field appearance="outline" style="margin-bottom: 0px" floatLabel="always"fxFlex="45">
                                <mat-select formControlName="periodo" (selectionChange)="changePeridoTrimestral()">
                                    <mat-option [value]="">
                                        Seleccione
                                    </mat-option>
                                    <ng-container *ngFor="let item of listPeriodoTri">
                                        <mat-option [value]="item.valorPrimario">
                                            {{item.valorPrimario}}
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                                  
                                <div fxFlex="5"></div>
                                <mat-form-field appearance="outline" style="margin-bottom: 0px" floatLabel="always" fxFlex="45">
                                <mat-select formControlName="periodoSe" (selectionChange)="changePeridoSemestral()">
                                    <mat-option [value]="">
                                        Seleccione
                                    </mat-option>
                                    <ng-container *ngFor="let item of listPeriodoSe">
                                        <mat-option [value]="item.valorPrimario">
                                            {{item.valorPrimario}}
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                            </div> 
                            <br>
                            <br>
                            <div class="col-sm-12 my-2 form-group text-center">

                                <button mat-raised-button class="mat-accent mr-16" style="background-color: white; color: #89B361; border: 2px solid #89B361; width: 140px; border-radius: 6px; font-size: 13px;"
                                (click)="limpiarCampos()">                        
                                   Limpiar</button>                             
                                <button mat-raised-button class="mat-accent mr-16" style="background-color:  white; color: #89B361; border: 2px solid #89B361; width: 140px; border-radius: 6px; font-size: 13px;"
                                (click)="SearchReportes()">                        
                                   Buscar</button>   
                                   <button mat-raised-button class="mat-accent mr-16" style="background-color:  white; color: #89B361; border: 2px solid #89B361; width: 140px; border-radius: 6px; font-size: 13px;"
                                   (click)="exportToExcel()">                        
                                   Exportar a Excel</button> 

<!-- 
                                <button mat-button class="btn btn-sm btn-secondary mr-2"
                                    (click)="limpiarCampos()">Limpiar</button>
                                <button mat-button class="btn btn-sm btn-secondary mr-2"
                                    (click)="SearchReportes()">Buscar</button>     
                                <button mat-button class="btn btn-sm btn-secondary mr-2" 
                                    (click)="exportToExcel()">Exportar a Excel</button>                           -->
                            </div>
                            <br>
                            <br>
                        <div id="dosGrillas" >

                        <div id="grilla1" >
                            <div class="example-container mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource">

                                    <ng-container matColumnDef="position">
                                        <th mat-header-cell *matHeaderCellDef> #</th>
                                        <td mat-cell *matCellDef="let element;let i = index;">
                                            {{ i + 1 + (paginator.pageIndex * paginator.pageSize) }}
                                        </td>
                                    </ng-container> 
                                    
                                    <ng-container matColumnDef="almacen">
                                        <th mat-header-cell *matHeaderCellDef> Almacén</th>
                                        <td mat-cell *matCellDef="let element"> {{element.almacenOrigen }} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="tipoAccion">
                                        <th mat-header-cell *matHeaderCellDef> Acción </th>
                                        <td mat-cell *matCellDef="let element"> 
                                            <div *ngIf="element.tipoAccion === 'I'">
                                                 Ingresos
                                            </div>
                                            <div *ngIf="element.tipoAccion === 'T'">
                                               Salidas
                                           </div>                                          
                                        </td>
                                    </ng-container> 

                                    <ng-container matColumnDef="cantidad">
                                        <th mat-header-cell *matHeaderCellDef> Cantidad Total </th>
                                        <td mat-cell *matCellDef="let element"> 
                                            <div *ngIf="element.tipoAccion === 'I'">
                                                {{element.cantidadTotalIngresos }} 
                                            </div>
                                            <div *ngIf="element.tipoAccion === 'T'">
                                                {{element.cantidadTotalSalidas }}
                                           </div>                                          
                                        </td>
                                    </ng-container> 

                                    <ng-container matColumnDef="acciones">
                                        <th mat-header-cell *matHeaderCellDef>  </th>
                                        <td mat-cell *matCellDef="let element">
                                            <button  mat-raised-button (click)="verEspecies(element.nuIdAlmacen, element.tipoAccion)" style="background-color:#679738; color: white; width: 20px;">
                                                <mat-icon>keyboard_arrow_right</mat-icon>
                                            </button>                                            
                                        </td>
                                    </ng-container>
                                    

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                                </table>
                                <mat-paginator style="float:left; color: #89B361;" #paginator [pageSizeOptions]="[5, 10, 20, 50]"
                                    showFirstLastButtons [length]="reportesResponse.totalRecords"
                                    [pageSize]="reportesResponse.pageSize" (page)="pageDataSource($event)"
                                    aria-label="Select page of periodic elements">
                                </mat-paginator>
                            </div>
                        </div>
                        <div id="grilla2" >
                            <div class="example-container mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource2">  
                                   

                                    <ng-container matColumnDef="maderables">
                                        <th mat-header-cell *matHeaderCellDef> Maderables </th>
                                        <td mat-cell *matCellDef="let element"> 
                                                {{element.cantidadTotalMAD}} {{element.unidadMedidaMAD}}                                                                                    
                                        </td>
                                    </ng-container> 


                                    <ng-container matColumnDef="noMaderables">
                                        <th mat-header-cell *matHeaderCellDef> No Maderables </th>
                                        <td mat-cell *matCellDef="let element"> 
                                               {{element.cantidadTotalNOMAD}} {{element.unidadMedidaNOMAD}}                                              
                                                                                    
                                        </td>
                                    </ng-container>                                     

                                    <ng-container matColumnDef="fauna">
                                        <th mat-header-cell *matHeaderCellDef> Fauna </th>
                                        <td mat-cell *matCellDef="let element"> 
                                               {{element.cantidadTotalFA}} {{element.unidadMedidaFA}}   
                                                                                   
                                        </td>
                                    </ng-container> 


                                    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>


                                </table>
                                <mat-paginator style="float:left;  color: #89B361;" #paginator [pageSizeOptions]="[5, 10, 20, 50]"
                                    showFirstLastButtons [length]="reportesResponse2.totalRecords"
                                    [pageSize]="reportesResponse2.pageSize" (page)="pageDataSource($event)"
                                    aria-label="Select page of periodic elements">
                                </mat-paginator>

                            </div>
                            </div>

                        </div>


                        </form>
                    </div>

                </div>

            </ng-container>

        </div>

    </div>