<div id="academy-course" class="page-layout simple left-sidebar inner-scroll">

    <div class="center">

        <div class="header p-24" style="background-color: #679738; color: white;" fxLayout="row"
            fxLayoutAlign="start center">

            <div>
                <h2> <b> Tipo Párametro </b></h2>
            </div>

        </div>
        <div id="course-content" class="content">

            <ng-container>

                <div class="course-step" fusePerfectScrollbar>                  
                    <div>
                        <button mat-raised-button class="mat-accent mr-16" style="background-color: #679738;"
                        (click)="openModalTipoParametro(null, 'NEW',null)">
                        <!-- <mat-icon aria-label="Agregar">add_box</mat-icon> -->
                           Registrar Nuevo</button>  
                </div>

                    <br>

                    <div id="course-step-content" class="course-step-content ">
                        <form [formGroup]="tipoParametroBandeja">

                            <div class="example-container mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource">

                                    <ng-container matColumnDef="ID">
                                        <th mat-header-cell *matHeaderCellDef style="width:5%"> Id </th>
                                        <td mat-cell *matCellDef="let element"> {{element.idTipoParametro }} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="prefijo">
                                        <th mat-header-cell *matHeaderCellDef style="width:12%"> Prefijo </th>
                                        <td mat-cell *matCellDef="let element"> {{element.prefijo}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="nombre">
                                        <th mat-header-cell *matHeaderCellDef style="width:12%"> Nombre </th>
                                        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="descripcion">
                                        <th mat-header-cell *matHeaderCellDef style="width:12%"> Descripción </th>
                                        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Acciones">
                                        <th mat-header-cell *matHeaderCellDef style="width:12%"> Acciones </th>
                                        <td mat-cell *matCellDef="let element">
                                            &nbsp; &nbsp;
                                            <button  mat-mini-fab (click)="openModalTipoParametro(element, 'EDIT', i)" style="background-color: #679738;">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                            &nbsp; &nbsp;
                                            <button  mat-mini-fab (click)="eliminar(element.idTipoParametro)" style="background-color: #d33;">
                                                <mat-icon>delete</mat-icon>
                                               </button>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                                </table>
                                <mat-paginator style="float:left; color: #89B361;" #paginator [pageSizeOptions]="[5, 10, 30, 50]"
                                    showFirstLastButtons [length]="tipoParametroResponse.totalRecords"
                                    [pageSize]="tipoParametroResponse.pageSize" (page)="pageDataSource($event)"
                                    aria-label="Select page of periodic elements">
                                </mat-paginator>
                            </div>
                        </form>
                    </div>

                </div>

            </ng-container>

        </div>

    </div>