<div id="academy-course" class="page-layout simple left-sidebar inner-scroll">

    <div class="center">

        <div class="header p-24" style="background-color: #679738; color: white;" fxLayout="row" fxLayoutAlign="start center">

            <div>
                <h2> <b>Reporte de Salidas </b> </h2>
            </div>

        </div>
        <div id="course-content" class="content">

            <ng-container>

                <div class="course-step" fusePerfectScrollbar>

                    <div id="course-step-content" class="course-step-content ">
                        <form [formGroup]="inputBandeja">
                           
                            <div fxLayout="row" fxLayoutAlign="space-between">
                                <span class="text-primary-ir" floatLabel="always" fxFlex="45">Almacén Origen</span>
                                <div fxFlex="5"></div>
                                <!-- <span class="text-primary-ir" floatLabel="always" fxFlex="45">Tipo de Especie</span> -->
                            </div>

                            <div fxLayout="row" fxLayoutAlign="space-between">

                                <mat-form-field appearance="outline" style="margin-bottom: 0px" floatLabel="always" fxFlex="45">
                                    <mat-select formControlName="almacen">
                                        <mat-option [value]="">
                                            Seleccione
                                        </mat-option>
                                        <ng-container *ngFor="let item of listAlmacen">
                                            <mat-option [value]="item.nuIdAlmacen">
                                                {{item.txNombreAlmacen}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>  
                                <div fxFlex="5"></div>
                                <!-- <mat-form-field appearance="outline"  style="margin-bottom: 0px" floatLabel="always" fxFlex="45" >
                                    <mat-select formControlName="tipoEspecie" >
                                        <mat-option [value]="">
                                            Seleccione
                                        </mat-option>
                                        <ng-container *ngFor="let item of listTipoEspecie">
                                            <mat-option [value]="item.codigo" >
                                                {{item.valorPrimario}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>      -->
                               
                            </div> 
                            <div fxLayout="row" fxLayoutAlign="space-between">
                                <span class="text-primary-ir" floatLabel="always" fxFlex="45">Periodo Trimestral</span>
                                <div fxFlex="5"></div>
                                <span class="text-primary-ir" floatLabel="always" fxFlex="45">Periodo Semestral</span>
                                
                            </div>
                             <div fxLayout="row" fxLayoutAlign="space-between">

                                <mat-form-field appearance="outline" style="margin-bottom: 0px" floatLabel="always"fxFlex="45">
                                <mat-select formControlName="periodo" (selectionChange)="changePeridoTrimestral()">
                                    <mat-option [value]="">
                                        Seleccione
                                    </mat-option>
                                    <ng-container *ngFor="let item of listPeriodoTri">
                                        <mat-option [value]="item.valorPrimario">
                                            {{item.valorPrimario}}
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                                  
                                <div fxFlex="5"></div>
                                <mat-form-field appearance="outline" style="margin-bottom: 0px" floatLabel="always" fxFlex="45">
                                <mat-select formControlName="periodoSe" (selectionChange)="changePeridoSemestral()">
                                    <mat-option [value]="">
                                        Seleccione
                                    </mat-option>
                                    <ng-container *ngFor="let item of listPeriodoSe">
                                        <mat-option [value]="item.valorPrimario">
                                            {{item.valorPrimario}}
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                            </div> 
                            
                            <br>
                            <br>

                            <div class="col-sm-12 my-2 form-group text-center">

                                <button mat-raised-button class="mat-accent mr-16" style="background-color: white; color: #89B361; border: 2px solid #89B361; width: 140px; border-radius: 6px; font-size: 13px;"
                                (click)="limpiarCampos()">                        
                                   Limpiar</button>                             
                                <button mat-raised-button class="mat-accent mr-16" style="background-color:  white; color: #89B361; border: 2px solid #89B361; width: 140px; border-radius: 6px; font-size: 13px;"
                                (click)="SearchReportes()">                        
                                   Buscar</button>   
                                   <button mat-raised-button class="mat-accent mr-16" style="background-color:  white; color: #89B361; border: 2px solid #89B361; width: 140px; border-radius: 6px; font-size: 13px;"
                                   (click)="SearchReportesExcel()">                        
                                   Exportar a Excel</button> 

<!--                                    
                                <button mat-button class="btn btn-sm btn-secondary mr-2"
                                    (click)="limpiarCampos()">Limpiar</button>
                                <button mat-button class="btn btn-sm btn-secondary mr-2"
                                    (click)="SearchReportes()">Buscar</button>     
                                <button mat-button class="btn btn-sm btn-secondary mr-2" 
                                    (click)="SearchReportesExcel()">Exportar a Excel</button>                           -->
                            </div>
                            <br>
                            <br>

                            <div class="example-container mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource">                                  

                                    <ng-container matColumnDef="codigoUnico">
                                        <th mat-header-cell *matHeaderCellDef>Código</th>
                                        <td mat-cell *matCellDef="let element"> {{element.codigoUnico }} </td>
                                    </ng-container>
                                    
                                    <ng-container matColumnDef="fecha">
                                        <th mat-header-cell *matHeaderCellDef> Fecha</th>
                                        <td mat-cell *matCellDef="let element"> {{element.feFechaRegistro | date: "dd/MM/yyyy h:mm:ss a" : "UTC" }} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="origen">
                                        <th mat-header-cell *matHeaderCellDef>Almacén Origen</th>
                                        <td mat-cell *matCellDef="let element"> {{element.almacenOrigen }} </td>
                                    </ng-container>
                                  

                                    <ng-container matColumnDef="destino">
                                        <th mat-header-cell *matHeaderCellDef> Destino </th>
                                        <td mat-cell *matCellDef="let element"> 
                                            <div *ngIf="element.tipoTransferencia === 'TPTRANS001'">
                                                 {{element.nombre}}
                                            </div>
                                            <div *ngIf="element.tipoTransferencia === 'TPTRANS006'">
                                               {{element.faunaSalida}}
                                           </div>
                                           <div *ngIf="element.tipoTransferencia === 'TPTRANS002'">
                                            {{element.almacenDestino}}
                                       </div>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="nroActa">
                                        <th mat-header-cell *matHeaderCellDef> Número de Acta </th>
                                        <td mat-cell *matCellDef="let element"> {{element.nroActa }} </td>
                                    </ng-container>                                    


                                    <ng-container matColumnDef="observaciones">
                                        <th mat-header-cell *matHeaderCellDef> Tipo de Salida </th>
                                        <td mat-cell *matCellDef="let element"> {{element.tipoTransferenciaDetalle }} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="acciones">
                                        <th mat-header-cell *matHeaderCellDef> Detalle </th>
                                        <td mat-cell *matCellDef="let element">
                                            <button  mat-mini-fab (click)="verDetalleSalida(element.tipoTransferencia,element.nroActa,element.nuIdTransferencia)" style="background-color: #89B361;">
                                                <mat-icon>remove_red_eye</mat-icon>
                                            </button>              
                                           
                                        </td>
                                    </ng-container> 

                                    <ng-container matColumnDef="archivo">
                                        <th mat-header-cell *matHeaderCellDef> Archivo </th>
                                        <td mat-cell *matCellDef="let element; let i = index">

                                            <button type="button" *ngIf="element.nuIdArchivoTransferencia !== 'noFile' && (element.nuIdArchivoTransferencia === 0 || element.nuIdArchivoTransferencia === undefined || element.nuIdArchivoTransferencia === null)" 
                                                class="btn-secondary width-full" style="min-width: 40px; width: 40px;" (click)="fileInput.click()">
                                                <mat-icon title="Cargar Archivo">vertical_align_top</mat-icon>
                                                <input class="no-show" type="file" (change)="changeFile(element,$event,i)" [accept]="accept" #fileInput
                                                    readonly />
                                            </button>

                                            <button mat-mini-fab *ngIf="element.nuIdArchivoTransferencia !== 'noFile' && element.nuIdArchivoTransferencia !== 0 && element.nuIdArchivoTransferencia !== undefined && element.nuIdArchivoTransferencia !== null"
                                                (click)="descargarArchivoTabla(element.nuIdArchivoTransferencia)" style="min-width: 40px; width: 40px; background-color: blue;"
                                            readonly
                                            >
                                            <mat-icon title="Descargar Archivo">vertical_align_bottom</mat-icon>
                                            </button>
                                            &nbsp; &nbsp;
                                            <button mat-mini-fab *ngIf="element.nuIdArchivoTransferencia !== 'noFile' && element.nuIdArchivoTransferencia !== 0 && element.nuIdArchivoTransferencia !== undefined && element.nuIdArchivoTransferencia !== null"
                                                (click)="eliminarArchivoGeneral(element.nuIdTransferencia, element.nuIdArchivoTransferencia)" style="min-width: 40px; width: 40px; background-color: red;"
                                            readonly
                                            >
                                            <mat-icon title="Eliminar Archivo">delete</mat-icon>
                                            </button>
                                            &nbsp; &nbsp;
                                            <button mat-mini-fab *ngIf="element.nuIdArchivoTransferencia !== 'noFile' && element.nuIdArchivoTransferencia !== 0 && element.nuIdArchivoTransferencia !== undefined && element.nuIdArchivoTransferencia !== null"
                                                (click)="verPDF(element.nuIdArchivoTransferencia)" style="min-width: 40px; width: 40px; background-color: #89B361;"
                                            readonly
                                            >
                                            <mat-icon title="Ver Archivo">visibility</mat-icon>
                                            </button>

                                        </td>
                                    </ng-container>

                                    

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                                </table>
                                <mat-paginator style="float:left; color: #89B361;" #paginator [pageSizeOptions]="[5, 10, 20, 50]"
                                    showFirstLastButtons [length]="reportesResponse.totalRecords"
                                    [pageSize]="reportesResponse.pageSize" (page)="pageDataSource($event)"
                                    aria-label="Select page of periodic elements">
                                </mat-paginator>
                            </div>
                        </form>
                    </div>

                </div>

            </ng-container>

        </div>

    </div>