<div id="academy-course" class="page-layout simple left-sidebar inner-scroll">

    <div class="center">

        <div class="header p-24" style="background-color: #679738; color: white;" fxLayout="row" fxLayoutAlign="start center">

            <div>
                <h2> <b> Kardex </b></h2>
            </div>

        </div>
        <div id="course-content" class="content">

            <ng-container>

                <div class="course-step" fusePerfectScrollbar>

                    <div id="course-step-content" class="course-step-content ">
                        <form [formGroup]="inputBandeja">

                            <div fxLayout="row" fxLayoutAlign="space-between">
                                <span class="text-primary-ir" floatLabel="always" fxFlex="30">Almacén</span>
                                <div fxFlex="5"></div>
                                <span class="text-primary-ir" floatLabel="always" fxFlex="90">Nombre de Especie</span>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="space-between">
                                <mat-form-field appearance="outline" style="margin-bottom: 0px" floatLabel="always"
                                fxFlex="30">
                                <mat-select formControlName="almacen">
                                    <mat-option [value]="">
                                        Seleccione
                                    </mat-option>
                                    <ng-container *ngFor="let item of listAlmacen">
                                        <mat-option [value]="item.nuIdAlmacen">
                                            {{item.txNombreAlmacen}}
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>  
                            <div fxFlex="5"></div>
                                <mat-form-field appearance="outline" floatLabel="always" fxFlex="90">                                    
                                    <input matInput type="text" formControlName="especie">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="space-between">
                                <span class="text-primary-ir" floatLabel="always" fxFlex="45">Tipo de Especie</span>
                                <div fxFlex="5"></div>
                                <span class="text-primary-ir" floatLabel="always" fxFlex="45">Tipo de Ingreso</span>
                                <div fxFlex="5"></div>
                                <span class="text-primary-ir" floatLabel="always" fxFlex="45">Disponibilidad de Acta</span>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="space-between">
                                <mat-form-field appearance="outline"  style="margin-bottom: 0px" floatLabel="always" fxFlex="45" >
                                    <mat-select formControlName="tipoEspecie" >
                                        <mat-option [value]="">
                                            Seleccione
                                        </mat-option>
                                        <ng-container *ngFor="let item of listTipoEspecie">
                                            <mat-option [value]="item.codigo" >
                                                {{item.valorPrimario}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field> 
                                <div fxFlex="5"></div>
                                <mat-form-field appearance="outline"  style="margin-bottom: 0px" floatLabel="always" fxFlex="45" >
                                    <mat-select formControlName="tipoIngreso" >
                                        <mat-option [value]="">
                                            Seleccione
                                        </mat-option>
                                        <ng-container *ngFor="let item of listTipoIngreso">
                                            <mat-option [value]="item.codigo" >
                                                {{item.valorPrimario}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>  
                                <div fxFlex="5"></div>
                                <mat-form-field appearance="outline"  style="margin-bottom: 0px" floatLabel="always" fxFlex="45" >
                                    <mat-select formControlName="disponibilidadActa">
                                        <mat-option [value]="">
                                            Seleccione
                                        </mat-option>
                                        <ng-container *ngFor="let item of listDisponibilidadActa">
                                            <mat-option [value]="item.codigo" >
                                                {{item.valorPrimario}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>                              
                            </div>
                            <br>
                            <br>

                            <div class="col-sm-12 my-2 form-group text-center">
                                <button mat-button class="btn btn-sm btn-secondary mr-2"
                                    (click)="limpiarCampos()">Limpiar</button>
                                <button mat-button class="btn btn-sm btn-secondary mr-2"
                                    (click)="Search()">Buscar</button>    
                                <button mat-button class="btn btn-sm btn-secondary mr-2" 
                                    (click)="exportToExcel()">Exportar a Excel</button>
                               

                            </div>
                            <br>
                            <br>

                            <div class="example-container mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource">   
                                    
                                    <ng-container matColumnDef="fecha">
                                        
                                        <th mat-header-cell *matHeaderCellDef style="width:15%"> Fecha Registro</th>
                                        <td mat-cell *matCellDef="let element"> {{element.fechaRegistro | date: "dd/MM/yyyy h:mm:ss a" : "UTC" }} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Tipo">
                                        <th mat-header-cell *matHeaderCellDef> Tipo de producto </th>
                                        <td mat-cell *matCellDef="let element"> 
                                            <div *ngIf="element.tipoProducto === 'MAD'">
                                                 Maderable
                                            </div>
                                            <div *ngIf="element.tipoProducto === 'NOMAD'">
                                               No Maderable
                                           </div>
                                           <div *ngIf="element.tipoProducto === 'FA'">
                                            Fauna
                                       </div>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="nombreCientifico">
                                        <th mat-header-cell *matHeaderCellDef style="width:12%"> Nombre Científico </th>
                                        <td mat-cell *matCellDef="let element"> {{element.nombreCientifico}}  </td>
                                    </ng-container>

                                    <ng-container matColumnDef="nombreComun">
                                        <th mat-header-cell *matHeaderCellDef style="width:12%"> Nombre Común </th>
                                        <td mat-cell *matCellDef="let element"> {{element.nombreComun}} </td>
                                    </ng-container>      

                                    <ng-container matColumnDef="documento">
                                        <th mat-header-cell *matHeaderCellDef style="width:5%"> Disponible </th>
                                        <td mat-cell *matCellDef="let element"> 
                                            <mat-icon *ngIf="element.disponible==='D'" style="color: #679738;">check_circle_outline</mat-icon>
                                            <mat-icon *ngIf="element.disponible==='ND'" style="color: brown;">not_interested</mat-icon>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="tipoI">
                                        <th mat-header-cell *matHeaderCellDef style="width:10%"> Tipo Ingreso </th>
                                        <td mat-cell *matCellDef="let element">{{element.tipoIngreso}} </td>
                                    </ng-container>   
                                    
                                    <ng-container matColumnDef="cantidadI">
                                        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                                        <td mat-cell *matCellDef="let element"> 
                                            <div *ngIf="element.tipoIngreso!==''">
                                                {{element.cantidadIngreso}}
                                            </div>
                                            
                                        </td>
                                    </ng-container>  

                                    <ng-container matColumnDef="cantidadM3I">
                                        <th mat-header-cell *matHeaderCellDef> Cantidad M3 </th>
                                        <td mat-cell *matCellDef="let element"> 
                                            <div *ngIf="element.tipoIngreso!==''">
                                                {{element.cantidadM3Ingreso}}
                                            </div>
                                            
                                        </td>
                                    </ng-container>  

                                    <ng-container matColumnDef="totalI">
                                        <th mat-header-cell *matHeaderCellDef> Saldo Neto </th>
                                        <td mat-cell *matCellDef="let element"> 
                                            <div *ngIf="element.tipoIngreso!==''">
                                                {{element.saldoTotalIngreso}}
                                            </div>
                                        </td>
                                    </ng-container>  

                                    <ng-container matColumnDef="totalM3I">
                                        <th mat-header-cell *matHeaderCellDef> Saldo Neto M3 </th>
                                        <td mat-cell *matCellDef="let element"> 
                                            <div *ngIf="element.tipoIngreso!==''">
                                                {{element.saldoTotalM3Ingreso}}
                                            </div>
                                        </td>
                                    </ng-container> 
                                    

                                    <ng-container matColumnDef="tipoS">
                                        <th mat-header-cell *matHeaderCellDef style="width:10%"> Tipo Salida </th>
                                        <td mat-cell *matCellDef="let element"> {{element.tipoSAlida}} </td>        
                                     </ng-container>     

                                    <ng-container matColumnDef="cantidadS">
                                        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                                        <td mat-cell *matCellDef="let element">
                                            <div *ngIf="element.tipoSAlida!==''">
                                                {{element.cantidadSalida}}
                                            </div>
                                        </td>
                                    </ng-container>  

                                    <ng-container matColumnDef="cantidadM3S">
                                        <th mat-header-cell *matHeaderCellDef> Cantidad M3</th>
                                        <td mat-cell *matCellDef="let element">
                                            <div *ngIf="element.tipoSAlida!==''">
                                                {{element.cantidadM3Salida}}
                                            </div>
                                        </td>
                                    </ng-container> 

                                    <ng-container matColumnDef="totalS">
                                        <th mat-header-cell *matHeaderCellDef> Saldo Neto </th>
                                        <td mat-cell *matCellDef="let element"> 
                                            <div *ngIf="element.tipoSAlida!==''">
                                                {{element.saldoTotalSalida}}
                                            </div>
                                        </td>
                                    </ng-container>
                                    
                                    <ng-container matColumnDef="totalM3S">
                                        <th mat-header-cell *matHeaderCellDef> Saldo Neto M3 </th>
                                        <td mat-cell *matCellDef="let element"> 
                                            <div *ngIf="element.tipoSAlida!==''">
                                                {{element.saldoTotalM3Salida}}
                                            </div>
                                        </td>
                                    </ng-container>


                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                                </table>
                                <mat-paginator style="float:left; color: #89B361;" #paginator [pageSizeOptions]="[5, 10, 20, 50]"
                                    showFirstLastButtons [length]="kardexResponse.totalRecords"
                                    [pageSize]="kardexResponse.pageSize" (page)="pageDataSource($event)"
                                    aria-label="Select page of periodic elements">
                                </mat-paginator>
                            </div>
                        </form>
                    </div>

                </div>

            </ng-container>

        </div>

    </div>